@import url('https://fonts.googleapis.com/css?family=Sono');

.gradient {
  width: 100%;
  background-image: radial-gradient(circle at 100px 100px, rgba(118, 149, 255, 0.6) 30% , rgba(26,44,87,  0.8) 100%);
  background-size: 200% 200%;
  animation: Animation 3s ease-out 1;
}

@keyframes Animation {
  0% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0;
  }
}


.App {
  text-align: center;
}

h1, h2, h3 {
  font-family: Righteous, monospace;
  color: #C7EAFC;
}

p {
  font-size: 2vh;
  font-family: Sono, monospace;
  color: #C7EAFC;
}

.img-holders {
  margin: 2vh 3vw;
}

.section {
  margin: 0 9vw 0;
  min-height: 10vh;
  text-align: left;
}

.section-img {
  max-width: 65vmin;
  margin: 0 2vw 7vh;
}
