@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Source+Code+Pro:wght@700&display=swap');


body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto','Segoe UI',  'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2b2b2b;
  color: white;
  text-align: center;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainArea {
  padding: 10px;
  margin: 25px;
  /*background-color: #2b2b2b;*/

}
